
body {
  background-color: #16A7CC;
}

.flex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.row>div{
  padding-bottom: 2rem;
}

.spread {
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content:space-between;
}

.language {
  justify-content: flex-end;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-right: 1rem;
}

.photo {
  padding: 1.5em;
}
img.photo {
  width: 180px;
}

.org {
  text-align: center;
}

a {
  color: #222;
  text-decoration: none;
}
a[href^="http:"]:hover, a[href^="https:"]:hover {
  color: #eee
}

@media (min-width: 550px) {
  .row {
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content:space-around;
  }

  .language {
    padding-right: 2rem;
  }
}
