
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 400; }
h3, h4, h5, h6 {
  margin-top: 1rem;
  margin-bottom: 0; }
h1 { font-size: 2.8rem; line-height: 1.2;  letter-spacing: -.1rem; }
h2 { font-size: 2.2rem; line-height: 1.3;  letter-spacing: -.1rem; }
h3 { font-size: 2.0rem; line-height: 1.35; letter-spacing: -.08rem; }
h4 { font-size: 1.6rem; line-height: 1.5;  letter-spacing: -.05rem; }
h5 { font-size: 1.2rem; line-height: 1.6;  letter-spacing: 0; }
h6 { font-size: 1rem; line-height: 1.6;  letter-spacing: 0; }

p {
  margin-top: 0; }
